/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    /* font-family: "Playwrite IT Moderna", cursive; */
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin-bottom: 30px;

}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    /* font-weight: bold; */
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 100;
    /* margin-bottom: -5px; */
    padding-left: 5px;
}

.form-group input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* background: #E5DADD; */
    background: #F6F8FB;

}

.submit-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

.submit-btn:hover{
    background-color: #066CDB;
    transform: scale(1.01);
}

p{
    margin-top: 15px;
}
     
a:link {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.showPassword {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    font-weight: 300;
}
.fs-12 {
    font-size: 12px;
}
.fs-10 {
    font-size: 10px;
}
.form-label, .form-check-label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: -5px;
    padding-left: 5px;
}
.form-select .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:placeholder-shown {
    color: red;
    opacity: 0.5;
    font-style: italic;
}